@import url('reset.css');
@import url('fonts.css');

/* Global Styles */
.container {
    margin: 0 auto;
    max-width: 1170px;
}
/* Nav Styles */
.nav-container {
    width: 100%;
    height: 60%;
    background-color: #1b1e24;
}
.nav-wrapper {
    background-color: #1b1e24;
    max-width: 1170px;
    margin: 0 auto;
    align-items: center;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    width: 30%;
    justify-content: space-around;
}
.nav a {
    color: white;
    font-size: 20px;
    user-select: none;
    transition: all 0.3s;
}
.nav a:hover {
    color: #ce192f;
}
.logowrp {
    display: flex;
    align-items: center;
}
.logowrp h1 {
    font-size: 32px;
    font-family: 'Lobster', cursive;
    color: white;
}
.logo {
    width: 45px;
    color: white;
}
.auth-wrapper {
    display: flex;
    width: 17%;
    align-items: center;
    justify-content: space-between;
}
.auth-wrapper a {
    color: white;
    font-size: 20px;
}
.reg-style {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid white;
    transition: all 0.3s;
}
.reg-style:hover {
    background-color: white;
    color: #ce192f;
}
/* Auth Styles */
.auth {
    display: none;
    width: 550px;
    margin-top: 150px;
    height: 500px;
    justify-content: center;
    border-radius: 15px;
    align-items: center;
    background-color: #1b1e24d7;
}
.login {
    width: 100%;
}
.login h2 {
    text-align: center;
    font-size: 40px;
    transform: translateY(-90px);
    color: white;
}
.login form {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: white;
    margin: 0 auto;
}
.login form input {
    padding: 10px 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-width: 1px;
}
.login form input:focus{
    border-width: 1px;
    
}
/* KeyFrames */